*.wpr
*.wpu
*.pyc
*.o
*.egg-info
/mscanner/fastscores/_FeatureCounter
/mscanner/fastscores/_ScoreCalculator
/htdocs/templates/contact.py
/htdocs/templates/front.py
/htdocs/templates/output.py
/htdocs/templates/query.py
/htdocs/templates/status.py
/htdocs/templates/page.py
/htdocs/static/output
/help/api
