*.wpr
*.wpu
*.pyc
*.o
/fastscores/_FeatureCounter
/fastscores/_ScoreCalculator
/htdocs/templates/contact.py
/htdocs/templates/front.py
/htdocs/templates/output.py
/htdocs/templates/query.py
/htdocs/templates/status.py
/htdocs/templates/page.py
/help/api
