<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

#* TEMPLATE PARAMETERS
$linkpath -- Include JS and CSS remotely at this location
$timestamp -- time.time() for start of the operation

*#

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

  <title>
    #if $mode == "input"
    Input Citations for $dataset
    #else
    Result Citations for $dataset
    #end if
  </title>

  #if $getVar("linkpath", None)
  <script type="text/javascript" src="$linkpath/hider.js"></script>
  <script type="text/javascript" src="$linkpath/fileutils.js"></script>
  <script type="text/javascript" src="$linkpath/citations.js"></script>
  <link rel="stylesheet" type="text/css" href="$linkpath/style.css" />
  #else
  <script type="text/javascript">
    #include raw $_inc("hider.js")
    #include raw $_inc("fileutils.js")
    #include raw $_inc("citations.js")
  </script>
  <style type="text/css">
    #include raw $_inc("style.css")
  </style>
  #end if

</head>

<body>

<div class="header">
  <h1>
    #if $mode == "input"
    Input Citations for $dataset
    #else
    Output Citations for $dataset
    #end if
  </h1>
</div>

<div class="body">

<p>
#if $getVar("prev_file", None)
Previous File: <a href="$prev_file">$prev_file</a>
#end if
#if $getVar("next_file", None)
Next File: <a href="$next_file">$next_file</a>
#end if
</p>

<p>
  This report contains $len($scores) citations,
  #if $mode == "input"
  which are input citations (examples of relevant articles) used to train the classifier.
  #else
  which are the results of a query operation (articles which MScanner has classified as relevant).
  #end if
</p>

<fieldset class="cite">

  <legend>Manage Classifications</legend>
  
  <input type="file" size="80" id="fname" />
  <br />
  <input type="button" onclick="saveTags()" value="Save Classifications" />
  <input type="button" onclick="loadTags()" value="Load Classifications" />
  
  <p>
    The citations can be manually classified by clicking on the box in
    the "C" column. Gray citations <span
    style="background-color:lightgray;color:lightgray;">...</span>
    have not been manually classified, red citations <span
    style="background-color:red;color:red;">...</span> are relevant,
    and blue citations <span
    style="background-color:blue;color:blue;">...</span> are
    non-relevant.
  </p>
  
  <p>
    Use the buttons above to save and load the manual classifications
    to/from disk in CSV format.  Since remote pages are not able to
    access local files, this page must first be saved as an HTML file
    and opened locally for the save/load feature to work.
  </p>
  <input type="button" onclick="openPubMed()" value="Open Relevant Citations in PubMed" />
  
</fieldset>

<fieldset class="cite"> 

<legend>Filter Citations</legend> 

<input type="text" size="50" id="filter" onkeypress="return noenter()"/> 

<input type="button" 
onclick="filterCitations(\$('filter').value)"
value="Filter Citations" /> 

<input type="button"
onclick="\$('filter').value='';filterCitations('')" 
value="Clear Filter" />

<p>Case-insensitive filter to show only citations which have the filter text
present in their title or abstract. Clearing the filter shows all citations. The
filter makes use of <a
href="http://www.javascriptkit.com/jsref/regexp.shtml">Regular expressions</a>
(for filter text "X" we create RegExp("X","i")).  For example, to find
"rat" as a whole word, use "\brat\b" .</p>

</fieldset>

$cite_table

</div>

<div class="footer">
                                               
</div>

</body>

</html>