<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

  <title>
    #if $mode == "input"
    Input Citations for $dataset
    #else
    Result Citations for $dataset
    #end if
  </title>

  #*
  <script type="text/javascript" src="../../../source/mscanner/templates/citations.js"></script>
  <script type="text/javascript" src="../../../source/mscanner/templates/fileutils.js"></script>
  <script type="text/javascript" src="../../../source/mscanner/templates/hider.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../source/mscanner/templates/style.css" />
  *#

  <script type="text/javascript">
    #include raw $_inc("hider.js")
    #include raw $_inc("fileutils.js")
    #include raw $_inc("citations.js")
  </script>

  <style type="text/css">
    #include raw $_inc("style.css")
  </style>

</head>

<body>

<div class="header">
  <h1>
    #if $mode == "input"
    Input Citations for $dataset
    #else
    Output Citations for $dataset
    #end if
  </h1>
</div>

<div class="body">

<p>
#if $getVar("prev_file", None)
Previous File: <a href="$prev_file">$prev_file</a>
#end if
#if $getVar("next_file", None)
Next File: <a href="$next_file">$next_file</a>
#end if
</p>

<p>
  This report contains $len($scores) citations,
  #if $mode == "input"
  which are input citations (examples of relevant articles) used to train the classifier.
  #else
  which are the results of a query operation (articles which MScanner has classified as relevant).
  #end if
</p>

<fieldset class="cite">

  <legend>Manage Classifications</legend>
  
  <input type="file" size="80" id="fname" />
  <br />
  <input type="button" onclick="saveTags()" value="Save Classifications" />
  <input type="button" onclick="loadTags()" value="Load Classifications" />
  
  <p>
    The citations can be manually classified by clicking on the box in
    the "C" column. Gray citations <span
    style="background-color:lightgray;color:lightgray;">...</span>
    have not been manually classified, red citations <span
    style="background-color:red;color:red;">...</span> are relevant,
    and blue citations <span
    style="background-color:blue;color:blue;">...</span> are
    non-relevant.
  </p>
  
  <p>
    Use the buttons above to save and load the manual classifications
    to/from disk in CSV format.  Since remote pages are not able to
    access local files, this page must first be saved as an HTML file
    and opened locally for the save/load feature to work.
  </p>
  <input type="button" onclick="openPubMed()" value="Open Relevant Citations in PubMed" />
  
</fieldset>

<fieldset class="cite"> 

<legend>Filter Citations</legend> 

<input type="text" size="50" id="filter" onkeypress="return noenter()"/> 

<input type="button" 
onclick="filterCitations(\$('filter').value)"
value="Filter Citations" /> 

<input type="button"
onclick="\$('filter').value='';filterCitations('')" 
value="Clear Filter" />

<p>Case-insensitive filter to show only citations which have the filter text
present in their title or abstract. Clearing the filter shows all citations. The
filter makes use of <a
href="http://www.javascriptkit.com/jsref/regexp.shtml">Regular expressions</a>
(for filter text "X" we create RegExp("X","i")).  For example, to find
"rat" as a whole word, use "\brat\b" .</p>

</fieldset>

<table id="citations" class="cite">

#set $ncols = 4
#if $articles
#set $ncols += 5
#end if

<colgroup>
  <col class="classification"></col>
  <col class="rank"></col>
  <col class="score"></col>
  <col class="pmid"></col>
  #if $articles
  <col class="year"></col>
  <col class="author"></col>
  <col class="abstract"></col>
  <col class="title"></col>
  <col class="journal"></col>
  #end if
</colgroup>

<thead>
  <tr>
    <th title="Classification">C</th>
    <th title="Rank">R</th>
    <th>Score</th>
    <th>PMID</th>
    #if $articles
    <th>Year</th>
    <th title="Author">Au</th>
    <th title="Abstract">Ab</th>
    <th>Title</th>
    <th>Journal</th>
    #end if
  </tr>
</thead>

<tbody>
#for idx, (pmid, score) in enumerate($scores)
#set $pmid = str(pmid)
#if $articles
#set $art = $articles[pmid]
#else 
#set $art = None
#end if
<tr id="#echo pmid#" class="main">
<td id="c_#echo pmid#" onclick="classify('#echo pmid#')"></td>
<td>#echo idx+$startfrom#</td>
<td id="s_#echo pmid#">#echo "%.2f" % score#</td>
<td>
<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=AbstractPlus&amp;list_uids=#echo pmid#">#echo pmid#</a>
</td>
#if art
<td>#echo art.year#</td>
<td#if art.authors# onclick="toggle('au_#echo pmid#')">+#else#>-#end if#</td>
<td#if art.abstract# onclick="toggle('ab_#echo pmid#')">+#else#>-#end if#</td>
<td id="t_#echo pmid#" class="title"> #echo art.title.encode("ascii","xmlcharrefreplace")# </td>
<td>
#if art.issn 
<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?CMD=search&amp;DB=journals&amp;term=#echo art.issn#">
#if art.journal##echo art.journal##else##echo art.issn##end if#
</a>
#end if
</td>
#end if
</tr>
#if art
<tr class="author" id="au_#echo pmid#"#if not art.authors# style="display:none;"#end if#>
#if art.authors
<td colspan="#echo ncols#">
#for initials, lastname in art.authors##slurp
#if initials##echo initials.encode("ascii","xmlcharrefreplace")##end if# #slurp
#if lastname##echo lastname.encode("ascii","xmlcharrefreplace")##end if#, #slurp
#end for#
<script type="text/javascript">hide('au_#echo pmid#')</script>
</td>
#end if
</tr>
<tr class="abstract" id="ab_#echo pmid#"#if not art.abstract# style="display:none;"#end if#>
#if art.abstract
<td colspan="#echo ncols#" >
#echo art.abstract.encode("ascii","xmlcharrefreplace")
<script type="text/javascript">hide('ab_#echo pmid#')</script>
</td>
#end if
</tr>
#end if
#end for
</tbody>
  
</table>

</div>

<div class="footer">
                                               
</div>

</body>

</html>