/* 
Colour Palette

white (page background)
#EEEEEE; /* light gray
#CCCCCC; /* middle gray
#BBBBBB; /* darker gray

#C2D7EE; /* light blue    (page background??)
#E8F0F8; /* pastel blue   (table background)
#70B0FF; /* middle blue   (table heading)
#FFFFDD; /* light yellow  (row heading background)
#A0F0C0; /* pastel green  (header/footer and note heading)
#EEEEFF; /* light mauve   (help blocks in table)
*/

html, body, div {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}

img { display: block; }

dt { font-weight: bold; }

html { background-color: #C2D7EE; /* light blue */ }

div#body {
    padding: 1em;
    width: 100%;
}

div#header, div#footer {
    /* colour for header and footer */
    background-color: #FFFFDD; /* light yellow */
}

div#header {
    /* header section for page */
    border-bottom-style: dotted;
    margin: 0;
    padding: 0.3em;
    text-align: center;
}

div#footer {
    /* footer section for page */
    border-top-style: dotted;
    padding: 1ex;
}

div#header > h1 {
    /* avoid margins within the header */
    margin: 0;
}

div.narrow {
    /* keep everything within this div to a readable width */
    max-width: 35em;
}

h2 {
    /* underline major headings */
    border-bottom: 1px solid black;
    margin-top: 1ex;
}

/* common properties for all tables */
table, thead, tbody {
    /* thick border around all tables */    
    border: 2px solid black;
}
table {
    /* default table settings */
    border-collapse: collapse;
    width: 100%; /* fill surrounding container */
    background-color: #E8F0F8; /* pastel blue */
}
thead {
    /* column headings */
    background-color: #70B0FF; /* middle blue */
}
tbody th {
    /* row headings */
    background-color: #E8F0F8; /* pastel blue */
    text-align: left;
}
td, th {
    /* thin border around table cells */
    border: 1px solid black;
    padding: 0.5ex;
}

div.help {
    /* help sections associated with tables */
    text-align: justify;
}

/* info table in results.tmpl */
table.results col.label {
    /* column with name of the quantity */
    width: 11em;
}
table.results col.value {
    /* column with value of the quantity */
}
table.results col.help {
    /* column with help buttons */
    background-color: #EEEEFF; /* light mauve */
    width: 2em;
}
table.results tr.help {
    /* rows with help info */
    background-color: #EEEEFF; /* light mauve */
    text-align: justify;
    padding: 1ex;
}

/* features.tmpl feature summary */
table.features col.label {
    /* width of left-most column with labels */
    width: 20em;
}

/* citations.tmpl citation table */
fieldset.cite {
    width: auto;
    max-width: 95%;
    margin-bottom: 1em;
}
table.cite {
    /* citation table */
    background-color: white;
    width: 95%;
    min-width: 40em;
    text-align: center;
}              
table.cite col.classification {
    /* column for manual classification */
    background-color: lightgrey;
}
table.cite tr.author, col.author {
    /* author colour */
    background-color: #FFFFDD; /* light yellow */
}
table.cite tr.abstract, col.abstract {
    /* abstract colour  */
    background-color: #EEEEFF; /* light mauve */
}
table.cite tr.mesh col.mesh {
    /* mesh colour */
    background-color: #A0F0C0; /* pastel green */
}
table.cite td.title {
    /* titles - but not the heading of the column */
    font-size: smaller;
}
table.cite tr.abstract td {
    /* abstracts */
    padding: 1em;
    text-align: justify;
}

/* column widths for citation table */
table.cite col.classification { width: 1em; }
table.cite col.rank { width: 1em; }
table.cite col.score { width: 3em;}
table.cite col.pmid { width: 5em; }
table.cite col.year { width: 3em; }
table.cite col.author{ width: 1em; }
table.cite col.abstract { width: 1em; }
table.cite col.title { /* variable width */ } 
table.cite col.journal { width: 10em; }

/* confusion matrix in validation.tmpl */
table.matrix col { width: 25%; }
td.tp { background-color: #FF3333; } /* bright red */
td.tn { background-color: #3333FF; } /* bright blue */
td.fp { background-color: #CCCCFF; } /* pale red */
td.fn { background-color: #FFCCCC; } /* pale blue */

