/* ALL PAGES */

html {
    background-color: #C2D7EE;
}
html, body, div {
    display: block;
    padding: 0;
    margin: 0;
}
.trim {
    margin: 0;
    padding: 0;
}
fieldset legend {
    font-weight: bold;
}
thead {
    background-color: #FFFFDD;
}
tbody th {
    background-color: #DDDDDD;
}
td {
    background-color: #EEEEEE; 
}
div.header {
    margin: 0;
    padding: 0.3em;
    text-align: center;
    border-bottom-style: dotted;
    background-color: #F6F9FE;
}
div.header > h1 {
    margin: 0;
}
div.body {
    background-color: #F6F9FE;
    padding: 1em;
    width: 100%;
}
div.footer {
    border-top-style: dotted;
    background-color: #FFFFDD;
    width: 100%;
    padding: 1ex;
}

/* FRONT PAGE */

div.text {
    padding: 0 10% 0 10%;
    margin: auto;
}
div.text > p {
    padding: 1ex;
}
p.alert {
    border: solid red 2px;
    margin: 1ex;
    padding: 0.5ex;
    text-align: center;
}

/* TOP MENU */

div.topmenu {
    text-align: center;
    border-bottom: dotted;
}
div.topmenu table {
    width: 80%;
    margin: 0 auto 0 auto;
    border-collapse: separate;
    border-spacing: 1ex;
}
div.topmenu a {
    text-decoration: none;
}
div.topmenu td {
    background-color: #F6F9FE;
    border: solid 2px black;
    padding: 0.5ex;
}

/* QUERY PAGE */

form.query {
    width: 100%;
    max-width: 35em;
}
form.query fieldset {
    margin: 1ex;
}
form.query th {
    width: 10em;
}
form.query td.value {
    background-color: #EEEEEE; 
}
form.query td.help {
    width: 10%;
    text-align: right;
    background-color: #EEEEFF; 
}
form.query tr.help div {
    background-color: #EEEEFF; 
}

/* STATUS BLOCK */

div.status {
    width: 80%;
}
table.status tbody th {
    width: 10em;
}
table.status td {
    width: auto;
}

/* OUTPUT PAGE */

form.output table {
    border-spacing: 3px;
    width: auto;
}
form.output td.del {
    background-color: #BBBBBB; 
    text-align: center;
}
form.output td.batch {
    background-color: #CCCCCC; 
    width: 15em;
}
form.output td.start {
    background-color: #DDDDDD; 
}
