## Prints a table summarising the number of features
## stats -- Instance of FeatureScores.FeatureStats

<h2>Feature Statistics</h2>

<table id="features">
  <colgroup>
    <col class="label">
    <col class="value">
    <col class="value">
  </colgroup>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Relevant Docs</th>
      <th>Irrelevant Docs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Number of documents</th>
      <td>$stats.pos_docs</td>
      <td>$stats.neg_docs</td>
    </tr>
    <tr>
      <th>Number of selected, occurring features</th>
      <td>$stats.pos_distinct</td>
      <td>$stats.neg_distinct</td>
    </tr>
    <tr>
      <th>Total occurrences of selected features</th>
      <td>$stats.pos_occurrences</td>
      <td>$stats.neg_occurrences</td>
    </tr>
    <tr>
      <th>Selected features per Medline record</th>
      <td>#echo "%.3f" % $stats.pos_average #</td>
      <td>#echo "%.3f" % $stats.neg_average #</td>
    </tr>
    <tr>
      <td colspan="3">
      Of the considered feature types, $stats.feats_selected features are selected out 
      of $stats.feats_in_data occurring at least once in training data.  The aggressivity of
      selection is #echo "%.3f" % $stats.aggressivity #.
      The complete database lists $stats.feats_total potential features.
      </td>
    </tr>
  </tbody>
</table>
