#extends page

#def title
Contact the Author
#end def title

#def contents
<div class="contents">

<p>This form is under construction</p>

<form action="contact" method="post">

<input type="hidden" name="captcha" value="orange" />

</form>

</div><!--contents-->
#end def contents
