#extends page

#def title
Submit Query or Validation #slurp
#end def title

#def extraheaders

## Uncompressed javascript for debugging (77k)
##<script type="text/javascript" src="$baseurl/static/mootools.js"></script>
## Compressed javascript for production (13k)
<script type="text/javascript" src="$baseurl/static/mootools.zip.js"></script>

<script type="text/javascript">
  /* 
  When a button of class "toggle" and id toggle_x is clicked,
  it will slide-toggle the target with id x. Targets are initially hidden.
  */
  function create_sliders() {
    /* handler for button with id like toggle_x */
    function toggle_handler() {
      \$(this.id.substr(7)).slider.toggle(); // "toggle_x" -> "x"
    }
    /* for each toggle button, we link and hide its target */
    var buttons = document.getElementsByTagName("button");
    for(var i = 0; i < buttons.length; i++) {
      button = buttons[i];
      if(button.className == 'toggle') {
        id = button.id.substr(7);
        target = \$(id)
        if(target) {
          target.slider = new Fx.Slide(id, {"duration": 500});
          target.slider.hide();
          button.onclick = toggle_handler;
        }
      }
    }
  }
  window.onload = function() {
    \$('fill_example').onclick = function () {
       \$('dataset').value = "example-radiology-query"
       \$('positives').value = "10390570\n10555669\n10587123\n10658726\n10702822\n10747308\n11092485\n11812973\n12216754\n12438060\n12708922\n12828616\n12945936\n14510633\n14628859\n14700161\n14752189\n14914750\n15256634\n15310152\n15351243\n15405683\n15480032\n15520901\n15717221\n15718419\n1592926\n16009818\n16019460\n16154823\n16189163\n16272860\n16299797\n16344746\n16415460\n16488085\n1727362\n1899742\n1928554\n1950868\n1984330\n2406785\n2731700\n2806818\n3275982\n3279735\n3416282\n3840980\n3871147\n4040300\n5327041\n5368340\n6497634\n6783686\n6856834\n7034554\n7480744\n8190956\n8208972\n8316667\n8372948\n8615251\n8911169\n8988207\n8988208\n9754100\n9922200\n9922201\n"
    }
    create_sliders();
  }
</script>
#end def extraheaders

#def form_row(label, id, input, help)
<tr>
  <th>
    $label
  </th>
  <td class="value">
    $input
  </td>
  <td class="help">
    <button type="button" class="toggle" id="toggle_h_$id">help</button>
  </td>
</tr>
<tr class="help">
  <td colspan="3">
    <div id="h_$id">
      $help
    </div>
  </td>
</tr>
#end def

## Generate input field 'name', of 'size' characters, defaulting to 'value'
#def h_input(name, size, value)
<input name="$name" id="$name" type="text" size="$size" value="$value">
#end def

## Generate textarea 'name', filled with 'value'
#def h_textarea(name, rows, cols, value)
<textarea name="$name" id="$name" rows="$rows" cols="$cols">$value</textarea>
#end def

## Generate dropdown 'name', with keys/values in the list titled 'options',
## and with 'value' selected as the default.
#def h_option(name, options, value)
<select name="$name" id="$name">
#for f in options
<option value="$f" #if $f==$value#selected="selected"#end if#>$f</option>
#end for
</select>
#end def

#def contents

<div class="narrow">

$print_errors()

<form id="query" action="" method="post">
  
  <fieldset>
    
    <legend>Standard Options</legend>

    ## Auto-filling the captcha for this form, spambots likely to be invalid
    <input type="hidden" id="captcha" name="captcha" value="orange">
    
    ## Leaving number of folds set to the default
    <input type="hidden" id="nfolds" name="nfolds" value="$nfolds">    
    
    <table>

      ## Box for pasting in PubMed IDs
      $form_row("Input Citations", "positives",
      $h_textarea("positives",3,10,$positives), 
      
      """A list of PubMed IDs, one per line. To obtain a list of PubMed IDs (if
      they are not already available from a database or reference manager),
      tick some search results on <a
      href="http://www.ncbi.nlm.nih.gov/sites/entrez">PubMed</a>, then use the
      drop-down boxes to select Display: "UI List" and Send To: "Text".""")

      ## Field for the dataset
      $form_row("Task Name", "dataset", 
      $h_input("dataset",30,$dataset),

      """The name of the task, to make it easier to locate on the results page.
      The name is restriced to letters, numbers and some punctuation (_-.), up
      to 30 characters in length.""")
      
      ## Field for deletion code
      $form_row("Deletion Code", "delcode", 
      $h_input("delcode",8,$delcode),

      """(optional) To prevent others from deleting your output or removing the
      submission from the queue, specify a short code (up to 10 characters)
      which will be required for deleting the output.""")
      
    </table>

  </fieldset>

  <fieldset>
    
    <legend>
      <input type="radio" name="operation" value="query" checked="checked">
      Query Operation
    </legend>
    
    <table>

      $form_row("Score Threshold", "threshold",
      $h_input("threshold",8,$threshold), 
      
      """The query result page will only contain citations scoring above
      this threshold (threshold may be between -100 and +100).""")

      $form_row("Result Limit", "limit", 
      $h_input("limit",8,$limit),

      """At most this many citations will be returned (limit may be
      between 100 and 10000)""")
      
    </table>

  </fieldset>

  <fieldset>
    
    <legend>
      <input type="radio" name="operation" value="validate">
      Validation Operation
    </legend>
    
    <table>
    
      $form_row("Number of Negatives", "numnegs",
      $h_input("numnegs",8,$numnegs),
      
      """10-fold cross validation estimates MScanner's performance by splitting
      the input citations into training and testing sections. The number of
      random citations to use as examples of irrelevant citations may be
      between 100 and 100,000 (try about 100 times as many as there are
      input citations).""")

      $form_row("F-Measure Alpha", "alpha",
      $h_input("alpha",8,$alpha),
      
      """The weight of precision used to calculate the F measure (the threshold
      for calling a citation positive is chosen to maximise F). &alpha;=0.5 gives
      precision and recall equal weight, values between 0.5 and 1.0 give more
      weight to precision, and values between 0.0 and 0.5 give more weight to
      recall""") 
      
    </table>
    
  </fieldset> 

  <p>
    <input type="submit">
    <button type="button" id="fill_example">Example</button>
  </p>

</form>

</div>
#end def contents