#extends page

#def title
MScanner: Retrieve Medline citations using examples
#end def title

#def contents
<div class="narrow">

#include $inc("statusblock.tmpl")

<h2>Queries</h2>

<p> On the "Query" page (see above), give MScanner examples of the sort of
articles you are looking for, then click "Submit Query", and it will find
similar articles. MScanner works with anywhere from 1 to 10,000 examples.</p>

<p>
You will be taken to a waiting page until the results are ready (takes
about 90 seconds from the front of the queue). Meanwhile, you can view some <a
href="static/sample/pg07">sample results</a> for a query that used about 1,500
citations from the <a href="http://www.pharmgkb.org">Pharmacogenetics
KnowledgeBase (PharmGKB)</a>.
</p>

<h2>Cross validation</h2> 

<p> If MScanner is given random articles for input, it produces random articles
for output. To measure how well MScanner can distinguish your input from the
rest of <a
href="http://www.nlm.nih.gov/pubs/factsheets/medline.html">Medline</a>, use the
10-fold cross validation option on the query page (requires 30 or more training
citations). You can view some <a href="static/sample/pg07-vs-100k">sample cross
validation output</a> also using the PharmGKB data.</p>

<p>
MScanner has been tested using Mozilla Firefox and Internet Explorer 7.
JavaScript needs to be enabled for the mini-application in the results page.
</p>

<!--
<h3>Publication Results</h3>

<p>
MScanner is being published in BMC Bioinformatics.  The full
cross validation results for the published data sets are below:
</p>

<a href="sample/pg07-valid">


<a href="sample/pg07-query">PG07 Query
-->

</div><!--narrow-->
#end def contents
