#extends page

#def title
MScanner
#end def title

#def headertitle
<h1>MScanner</h1><p style="margin:0">Retrieving Medline citations using examples</p>
#end def headertitle

#def contents
<div class="narrow">

<!--
<p style="font-weight:bold;">
The queue has been paused to update the database.  The queue will continue
running at XX:XX GMT on YYYY/MM/DD.
</p>
-->

##<p style="border-style:solid;border-width:1px;padding:1ex;"> 22 Feb
##2008: MScanner is being expanded to learn from word features in the
##title and abstract, in addition to MeSH and journal features.  Queries
##may be a few seconds slower while we generate the new database.</p>

<p><b>Getting started:</b> Go to the <a href="query">query</a> page,
paste some <a href="http://en.wikipedia.org/wiki/PMID">PubMed IDs</a>
into the box, enter a title so you can identify the results later, and
click "Submit Query". There is a "Help" button for each of the
options, and the "Example" button will fill in some radiology PubMed
IDs for you.</p>

<p><b>What happens next?</b> You will be taken to the <a
href="status">status</a> page to monitor the progress of your query, until a
link to the results appears on the <a href="output">output</a> page. It should
take roughly 90 seconds.</p>

<p><b>What does MScanner do?</b> MScanner uses the examples to learn
how to distinguish relevant from irrelevant PubMed IDs, even for
complex topics where thousands of terms might indicate relevance.
It returns results by decreasing probability of relevance.  For simple
topics a dozen PubMed IDs may be sufficient to learn its pattern
of term usage, but to identify articles for a database like
<a href="http://www.pharmgkb.org">PharmGKB</a> hundreds or thousands
of training examples may be needed.</p>
 
<p><b>Can I see an example of the output?</b> There are <a
href="static/sample/query/pg07">results</a> from training
MScanner on articles for the <a
href="http://www.pharmgkb.org">Pharmacogenetics KnowledgeBase</a>. There are also
10-fold cross validation <a
href="static/sample/valid/pg07">performance statistics</a></p>

<p><b>How effective is MScanner?</b> Instead of "Medline retrieval
operation", select "Cross validation operation". You will need at
least 30 examples to perform cross validation. Performance statistics
are explained on the output page.</p>

<p><b>Source code?</b> Here is the <a
href="static/mscanner-20080306.zip">latest source archive</a>. HTML
documentation of the MScanner API is included. MScanner is released
under the <a href="http://www.gnu.org/licenses">GNU General Public
License</a>.</p>

<p><b>Web browser?</b> This site has been tested with <a
href="http://www.mozilla.com/firefox/">Mozilla Firefox 2</a>, <a
href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">Internet
Explorer 7</a>, <a href="http://www.apple.com/safari/download/">Safari 3</a>
and <a href="http://www.opera.com/download/">Opera 9</a>. Some features may not
work in older browsers or with JavaScript disabled. Please <a
href="contact">contact us</a> if you have problems.</p>


<h2>Results for the BMC paper</h2>

<p>In February 2008, a paper on MScanner was published in <a
href="http://www.biomedcentral.com/1471-2105/9/108/abstract">BMC
Bioinformatics</a>.  Results in the paper are derivd from the cross
validation performance statistics below:</p>

<table>
<tr>
<th>Training data</th>
<th>Results</th>
<th>Results</th>
</tr>
<tr>
<td>PG07 (Pharmacogenetics, 1595 citations)</td>
<td><a href="static/sample/query/pg07">retrieval</a>
<td><a href="static/sample/valid/pg07">validation</a></td>
</tr>
<tr>
<td>AIDSBio (AIDS and Bioethics, 10732 citations)</td>
<td><a href="static/sample/query/aidsbio">retrieval</a></td>
<td><a href="static/sample/valid/aidsbio">validation</a></td>
</tr>
<tr>
<td>Radiology (splenic imaging, 67 citations)</td>
<td><a href="static/sample/query/radiology">retrieval</a></td>
<td><a href="static/sample/valid/radiology">validation</a></td>
</tr>
<tr>
<td>Control (randomly selected, 10000 citations)</td>
<td></td>
<td><a href="static/sample/valid/control">validation</a></td>
</tr>
</table>
 
</div><!--class=narrow-->
#end def contents
