#extends page

#def title
MScanner Output
#end def

#def contents

#import time

<div class="narrow">

$print_errors()

#if $getVar("nodelete", None) is not None

<p>Failed to delete the task <q>$target</q></p>

  #if $nodelete == "nodelcode"
    <p>Cannot delete the output since no deletion code was provided</p>
  #elif $nodelete == "busy"
    <p>Cannot delete since MScanner is currently busy with the task.</p>
  #elif $nodelete == "notfound"
    <p>Cannot delete because the task does not appear to exist in
    the queue or in the output.</p>
  #elif $nodelete == "badcode"
    <p>Cannot delete since because the provided code did not match that
    stored in the task descriptor.</p>
  #end if deleteoptions

#end if nodelete

#if $getVar("did_delete", None) is not None

  <p>Have deleted the task <q>$target</q> from $did_delete.</p>

#end if did_delete

#if len($donetasks) == 0

  <p>There is no output currently avaiable.</p>

#else

  <p>Click on the name of the batch to open the results in a new window. Only
  the 100 most recent queries are kept (older queries are deleted - please save
  them if you wish to keep the query output for future reference).</p>

#end if donetasks

</div><!--narrow-->

#if len($donetasks) != 0
  
<form class="output" action="" method="post">

  <table>
    <thead>
      <tr>
        <th>Selection</th>
        <th>Timestamp</th>
        <th>Operation</th>
        <th>Link to Output</th>
      </tr>
    </thead>
    <tbody>
      #for d in $donetasks
      <tr>
        <td class="del">
          <input type="radio" name="dataset" value="$d.dataset" />
        </td>
        <td class="timestamp">
          $time.strftime("%Y/%m/%d %H:%M:%S UTC", $time.gmtime($d.timestamp))
        </td>
        <td class="operation">
          $d.operation
        </td>
        <td class="dataset">
          <a href="/static/output/$d.dataset/" target="_blank">$d.dataset</a>
        </td>
      </tr>
      #end for
    </tbody>
  </table>
  
<div class="narrow">

<p>
  Download selected as a zip file (0.5-2 megabytes, 
  <input type="checkbox" name="omit_mesh" checked="checked"/> omit term list to save 300k):
  <button type="submit" name="operation" value="download">download</button>
</p>

<p>
  Delete selected using deletion code: <input name="delcode" type="text" size="10"/>
  <button type="submit" name="operation" value="delete" >delete</button>
</p>

</div>
  
</form>

#end if have_donetasks

#end def contents
