#extends page

#def title
MScanner Output
#end def

#def contents
#import time
<form class="output" action="" method="post">

  <p>Click on the name of the batch to open the results in a new
  window.</p>

  <table>
    <thead>
      <tr>
        <th>Selection</th>
        <th>Batch Name</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      #for d in $datasets
      <tr>
        <td class="del">
          <input type="radio" name="selection" value="$d.dataset"/>
        </td>
        <td class="dataset">
          <a href="/static/output/$d.dataset/" target="_blank">$d.dataset</a>
        </td>
        <td class="timestamp">
          $time.strftime("%Y/%m/%d %H:%M:%S UTC", $time.gmtime($d.timestamp))
        </td>
      </tr>
      #end for
    </tbody>
  </table>

  <p>
    Download directory as a zip file:
    <button type="submit" name="op" value="download">Download Selected</button>
  </p>
  
  <p>
    Enter code to delete an output: <input type="text" size="10"/>
    <button type="submit" name="op" value="delete" >Delete Selected</button>
  </p>

</form>
#end def
