#block doctype
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
#end block doctype

#def title
Sample Title
#end def

#block html
<html>

#block head
<head>

#block wintitle
<title>$title</title>
#end block

#block stdheaders
<link rel="stylesheet" type="text/css" href="$baseurl/static/mscanner.css">
<link rel="shortcut icon" href="$baseurl/favicon.png" type="image/x-icon">
#end block stdheaders

#block extraheaders
#end block extraheaders

</head>
#end block head

#block body
<body>

#block header
<div id="header">
  #block header_text
  <h1>$title</h1>
  #end block header_text
</div>
#end block header

#block topmenu
<div id="topmenu">
  <table>
    <tr>
      <td>
        <a href="/">Home</a>
      </td>
      <td>
        <a href="/form">Query</a>
      </td>
      <td>
        <a href="/status">Status</a>
      </td>
      <td>
        <a href="/output">Output</a>
      </td>
      <td>
        <a href="/contact">Contact Us</a>
      </td>
    </tr>
  </table>
</div>
#end block topmenu

#def print_errors
#if $getVar("errors",None) is not None
<div class="errors">
  <h2>Errors</h2>
  <ul>
    #for error in $errors
    <li>
      $error
    </li>
    #end for
  </ul>
</div>
#end if
#end def print_errors
  
#block contents_outer
<div id="contents">
#block contents
CONTENTS
#end block contents
</div>
#end block contents_outer

#block footer
<div id="footer">
  #block footer_text
  &copy; 2007 Graham Poulter
  #end block footer_text
</div>
#end block footer

</body>
#end block body

</html>
#end block html