#extends page

#* PARAMETERS
$inputs -- Form containing web browser input
*#

#def title
Submit a task#slurp
#end def title

#def header_text
<h1>Submit a Task</h1>
<p style="margin:0">Filter Medline, or evaluate classifier performance.</p>
#end def header_text


#def extraheaders
  ## Uncompressed javascript for debugging (77k)
  ##<script type="text/javascript" src="$base/static/mootools.js"></script>
  ## Compressed javascript for production (13k)
  <script type="text/javascript" src="$base/static/mootools.zip.js"></script>
  
  ## Inline Javascript
  <script type="text/javascript">
    /* 
    When a button of class "toggle" and id toggle_x is clicked,
    it will slide-toggle the target with id x. Targets are initially hidden.
    */
    function create_sliders() {
      /* handler for button with id like toggle_x */
      function toggle_handler() {
        \$(this.id.substr(7)).slider.toggle(); // "toggle_x" -> "x"
      }
      /* for each toggle button, we link and hide its target */
      var buttons = document.getElementsByTagName("button");
      for(var i = 0; i < buttons.length; i++) {
        button = buttons[i];
        if(button.className == 'toggle') {
          id = button.id.substr(7);
          target = \$(id)
          if(target) {
            target.slider = new Fx.Slide(id, {"duration": 500});
            target.slider.hide();
            button.onclick = toggle_handler;
          }
        }
      }
    }
    window.onload = function() {
      \$('fill_example').onclick = function () {
         \$('dataset').value = "example-radiology-query"
         \$('positives').value = "10390570\n10555669\n10587123\n10658726\n10702822\n10747308\n11092485\n11812973\n12216754\n12438060\n12708922\n12828616\n12945936\n14510633\n14628859\n14700161\n14752189\n14914750\n15256634\n15310152\n15351243\n15405683\n15480032\n15520901\n15717221\n15718419\n1592926\n16009818\n16019460\n16154823\n16189163\n16272860\n16299797\n16344746\n16415460\n16488085\n1727362\n1899742\n1928554\n1950868\n1984330\n2406785\n2731700\n2806818\n3275982\n3279735\n3416282\n3840980\n3871147\n4040300\n5327041\n5368340\n6497634\n6783686\n6856834\n7034554\n7480744\n8190956\n8208972\n8316667\n8372948\n8615251\n8911169\n8988207\n8988208\n9754100\n9922200\n9922201\n"
      }
      create_sliders();
    }
  </script>
#end def extraheaders

#def form_row(name)
#set elem = $inputs[name]
<tr class="input">
  <th>$elem.renderlabel()</th>
  <td class="value">
    $elem.pre $elem.render() $elem.post
    #if $name == "delcode"
    $inputs["hidden"].render() $inputs["hidden"].renderlabel()
    #end if
  </td>
  <td class="help">
    <button type="button" class="toggle" id="toggle_h_$name">help</button>
  </td>
</tr>
#if $elem.note is not None
<tr class="error">
  <td colspan="3">
    $elem.note
  </td>
</tr>
#end if
<tr class="help">
  <td colspan="3">
    <div id="h_$name">
      ${getattr(self, "help_" + $name)()}
    </div>
  </td>
</tr>
#end def

#def help_positives# A list of PubMed IDs, one per line, to serve as relevant
training examples (the rest of Medline is used to approximate term frequencies
in irrelevant articles). Any number of PubMed IDs may be submitted, but at
least 10 is recommended. Broad topics may need hundreds or thousands of
examples. #end def

#def help_allfeatures# Usually, the classifier is trained on MeSH terms and
journal of publication of each Medline record. Select this box to include
title/abstract/author as well, which slows down the query from 90 seconds to
3-5 minutes. Feel free to select it if you are prepared to wait a bit
longer for somewhat improved results.
#end def

#def help_dataset# The name of the task, to make it easier to locate on the
results page (the name is restricted to letters, numbers and .,;:-
punctuation) #end def

#def help_delcode# A short code that will be required to delete the output
(defaults to an empty code). You may select "hide output" to prevent the
results from being listed on the <a href="output">output</a> page, in which
case you need to bookmark the location of the results to find them later. 
#end def

#def help_limit# Upper limit on the number of citations to return (may be set
between 100 and 10000). #end def

#def help_mindate# Limit Medline to records completed after this date.
This feature is useful for monitoring for new literature.  This adds
30 seconds to normal filtering, and adds 2 minutes if the <q>use all features</q>
box is selected.
#end def

#def help_minscore# Advanced option: Only returns articles that score at least
this much. You may want to use a negative threshold when the sample data
includes very few articles it is more probable than irrelevance. #end def

#def help_numnegs# In cross validation we select this many random Medline
records to serve as irrelevant training examples. To perform cross validation
you will also need to paste at least 30 relevant examples in the "Input Citations"
box. #end def


#def contents
<div class="narrow">

##<p style="border-style:solid;border-width:1px;padding:1em"></p>

#if $inputs.note is not None
<p style="border-style:solid;border-width:1px;padding:1ex;border-color:red;">
$inputs.note
</p>
#end if

<form id="query" action="" method="post">
  
  <fieldset>
    <legend>Standard Options</legend>
    ## Auto captcha for this form, see if spambots are invalid anyway
    $inputs["captcha"].render()
    <table>
      $form_row("positives")
      $form_row("allfeatures")
      $form_row("dataset")
      $form_row("delcode")
    </table>
  </fieldset>

  <fieldset>
    <legend>
      $inputs["operation"].render("retrieval")
    </legend>
    <table>
      $form_row("limit")
      $form_row("mindate")
      $form_row("minscore")
    </table>
  </fieldset>

  <fieldset>
    <legend>
      $inputs["operation"].render("validate")
    </legend>
    <table>
      $form_row("numnegs")
    </table>
  </fieldset> 

  <p>
    <input type="submit">
    <button type="button" id="fill_example">Example</button>
  </p>

</form>

<p>Please <a href="contact">contact us</a> if you have any problems.</p>

</div>
#end def contents