#extends page

#def title
MScanner Status Report
#end def title

#def extraheaders
<script type="text/javascript">
    /* Reload status page every 30 second */
    var timer = 30;
    function countdown() {
        timer = timer - 1;
        if (timer % 10 == 0 || timer < 5) {
            document.getElementById("reload").innerHTML = timer;
        }
        if(timer == 0) {
            window.location.reload();
        }
        setTimeout(countdown, 1000);
    }
    window.onload = countdown;
</script>
#end def extraheaders

#def contents
<div class="narrow">

<p>
This page will reload in <span id="reload">30</span> seconds.  
</p>

$print_errors()

#include $inc("statusblock.tmpl")

##### TARGET-SPECIFIC STATUS #####

#if $getVar("target",None) is not None

    <h2>Status for <i>$target</i></h2>
    
    #if $target_status == "current"
    
        <p>Your task is in progress, and should be done within 2 minutes
        for queries, and within 3 minutes for cross validation.</p>
    
    #elif $target_status == "queue"
    
        <p>Your task is waiting in the queue (give an average of 2 minutes per 
        item in the queue).</p>
    
    #elif $target_status == "done"
    
        <p>Your task is complete.  The output should be waiting at
        <a href="static/output/$target">static/output/$target</a></p>
    
    #elif $target_status == "notfound"
    
        <p>The specified task was not found in the queue or amongst the complete tasks.
        You can try <a href="form">submitting a task</a> or looking amongst
        the <a href="output">complete tasks</a>.</p>
    
    #end if target_status
    
    ###### TASK DELETION #######
    
    #if $getVar("delcode", None) is not None
    
        #if len($delcode) == 0
        <p>According to the parameters, no deletion code was set.</p>
        #else
        <p>According to the parameters, the deletion code is <b>$delcode</b>.</p>
        #end if len_delcode
        
        <form action="output" method="post">
        <p>
        <input type="hidden" name="operation" value="delete">
        <input type="hidden" name="dataset" value="$target">
        <input type="hidden" name="delcode" value="$delcode">
        <input type="submit" value="Delete $target">
        </p>
        </form>
    
    #end if delcode

#end if target

##### LIST QUEUE CONTENTS #####

#if $getVar('current', None) is not None

    <h2>Other task files in the queue</h2>
    ## Print the list of other files in the queue
    #if len($listing) > 0
    <pre>
    #echo "\n".join($listing)
    </pre>
    #end if listing

#end if current

##### PRINT LOG #####

#if len($getVar('logcontents', [])) > 0
<h2>Contents of the log</h2>
<pre>
#echo "".join($logcontents)
</pre>
#end if logcontents

</div><!--class=narrow-->
#end def contents