#if $getVar('current', None) is None

<p>
There are no tasks waiting in the queue.
</p>

#else

<table class="status">
  <tr>
    <th>Current task</th>
    <td>
    $current.dataset ($current.operation) 
    (<a href="/static/output/$current.dataset/" target="_blank">future location</a>)
    </td>
  </tr>
  <tr>
    <th>
      Submission time
    </th>
    <td>
      #import time
      $time.strftime("%Y/%m/%d %H:%M:%S UTC", $time.gmtime($current.timestamp))
    </td>
  </tr>
  <tr>
    <th>
      Tasks still to do
    </th>
    <td>
      #echo $current.queue_length-1
    </td>
  </tr>
</table>

#end if current