#if $getVar('current', None) is None

<p>
There are no tasks currently in the MScanner queue.
</p>

#else

<table class="status">
  <tr>
    <th>Current task</th>
    <td>
    $current.dataset ($current.operation) 
    (<a href="/static/output/$current.dataset/" target="_blank">future location</a>)
    </td>
  </tr>
  <tr>
    <th>
      Time of submission
    </th>
    <td>
      $time.strftime("%Y/%m/%d %H:%M:%S UTC", $time.gmtime($current.timestamp))
    </td>
  </tr>
  <tr>
    <th>
      Total tasks in queue
    </th>
    <td>
      $current.queue_length
    </td>
  </tr>
</table>

#end if current